go 1.25.0

use (
	./ads-bot
	./agentmanager
	./apimanager
	./archive-bot
	./botmanager
	./botpay
	./community-service
	./fraud-engine
	./member-bot
	./revenue-service
	./shared
	./shared-core
	./source-service
	./uploader-bot
	./vpn-bot
	./webhook-gateway
)
