BOT_TOKEN=8442959411:AAGOZX0hU65_1dMkK9rzesVgXy2D61w-hDU
OWNER_ID=7631742375

# Local Bot API Server (اختیاری)
LOCAL_BOT_API=http://141.95.210.17:8081

POSTGRES_DSN=postgres://botuser:5c873e80c31231ea80e826f913eebe3a@127.0.0.1:5434/botmanager?sslmode=disable
POSTGRES_PASSWORD=5c873e80c31231ea80e826f913eebe3a

REDIS_ADDR=localhost:6381
REDIS_PASSWORD=24fc6061fa93ab9578cb4f97a1a784d0
REDIS_DB=0

# Centrifugo HTTP API — برای publish دستور به agentmanager
CENTRIFUGO_URL=http://localhost:8001/api
CENTRIFUGO_API_KEY=4c463e3f992d27783b44e36d6d2fd5ea

# Centrifugo WebSocket — برای دریافت heartbeat از agentmanager
CENTRIFUGO_WS_ENDPOINT=ws://localhost:8001/connection/websocket
CENTRIFUGO_TOKEN=2f1360a4ce24a1a396b2b75966e977d9

# openssl rand -hex 32
ENCRYPTION_KEY=2b5cb785eb8bd826be74bbe5c2bcbcab441c2accac4c3cfc599833712cc3202f
