BOT_TOKEN=8442959411:AAGOZX0hU65_1dMkK9rzesVgXy2D61w-hDU
OWNER_ID=7631742375
CHANNEL_ID=0

# DB — مستقیم، بدون واسط
POSTGRES_DSN=postgres://botuser:pass@localhost:5434/botmanager?sslmode=disable
MONGO_URI=mongodb://mongouser:pass@localhost:27017/creatorbot?authSource=admin
MONGO_DB=creatorbot
REDIS_ADDR=localhost:6381
REDIS_PASSWORD=
REDIS_DB=0

# NATS — فقط برای heartbeat
NATS_URL=nats://localhost:4222
SERVER_ID=90be2689-1105-4dab-861e-db0c8546de10
HEARTBEAT_INTERVAL_SEC=30

LOCAL_BOT_API=http://141.95.210.17:8081
